.header-page{
    height: 21.6rem;
}
.breadcrumbs{
    margin-top: 6rem;
}
.breadcrumbs ul{
   display: flex;
   justify-content: flex-start;
   padding-left: 0;
}
.breadcrumbs ul li{
    position: relative;
    list-style: none;
}
.breadcrumbs ul li::before{
    position: absolute;
    content: '';
    width: 10rem;
    height: 3rem;
    background: url('../images/home/arrows-blog.png') no-repeat;
    top: 6px;
    left: -20px;
}
.breadcrumbs ul li:first-child::before{
    display: none;
}
.breadcrumbs a{
    color: #444f61;
    font-weight: 700;
}
.breadcrumbs li{
    margin-left: 2.5rem;
}
.breadcrumbs li:first-child{
    margin-left: 0;
}
.breadcrumbs .active-breadcrambs{
    color: $blue;
    font-weight: 700;
}
.about__block {
    display: flex;
}
.about__contact {
    max-width: 64rem;
}
.about__contact-title {
    padding-top: 6rem;
    margin-bottom: 5rem;
}
.about__contact-text {
    margin-bottom: 3rem;
    line-height: 2.6rem;
}
.about__contact-text span{
    font-weight: 700;
}
.about__img {
    margin-left: 8rem;
    width: 52rem;
    background-size: cover;
    color: $white;
}
.about__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}
.about__wrapper {
    width: 27rem;
    margin-bottom: 2rem;
    text-align: center;
}
.about__img-title {
    font-size: 7.2rem;
    font-weight: 700;
    font-style: italic;
}
.about__img-text {
    font-size: 2.1rem;
    font-weight: 700;
}
.mission {
    padding-top: 6rem;
    position: relative;
}
.mission::before{
    position: absolute;
    content: '';
    width: 110rem;
    height: 25rem;
    background: url('../images/about/about-logo.png') no-repeat;
    left: 45%;
    top: -20%;

}
.mission__block {
    display: flex;
}
.mission__content {
    max-width: 67rem;
}
.mission__content-title {
    font-size: 4.8rem;
    margin-bottom: 4rem;
}
.mission__item {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}
.mission__item-text {
    margin-left: 2rem;
    width: 100%;
    font-size: 2.1rem;
}
.mission__img {
    margin-left: 6rem;
}
.sertificate{
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: #dce5f0;
}
.sertificate__title{
    margin-bottom: 8.5rem;
    font-size: 4.8rem;
}
.sertificate__block{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}
.sertificate__img {
    max-width: 39rem;
}