html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'MuseoSansCyrl';
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 1.2;
	color: #000;
 }
html{
	font-size: 10px;
}
body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}
button{
	cursor: pointer;
}
.container{
	max-width: 126rem;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.title{
	font-size: 4.8rem;
	font-weight: 100;
}
.hide,
.hide-baza{
	display: none;
}
.show,
.show-baza{
	display: block;
}
